.idea/
data/
part_seg/hdf5_data/
cls/__pycache__/
*.pyc
utils/__pycache__/
utils/__pycache__/*.pcpython-36.pyc
basicModel/__pycache__/
demo/checkpoints
cls/checkpoints/exp/models/
cls/weights/
cls/checkpoints/exp/run.log
utils/*.txt
cls/*.txt
data_*
data_2
*.log
basic/data
Deprecated/Model40data.py
Deprecated/common/EstimateNormals.py
Deprecated/common/ModelNet40.py
Deprecated/common/PointFeatureMap.py
Deprecated/common/RIFPCAdvanced.py
Deprecated/common/RIFPCNative.py
Deprecated/common/SetAbstraction.py
Deprecated/common/SphericalHarmonics.py
Deprecated/common/__init__.py
Deprecated/common/common.py
Deprecated/common/no_used/
Deprecated/dataset.py
Deprecated/basicModel/__init__.py
Deprecated/basicModel/model.py
Deprecated/utils/FileLoader.py
Deprecated/utils/GrassmanManifold.py
Deprecated/utils/ResidualGcnBlock.py
Deprecated/utils/RotatinInvarianceSetAbstraction.py
Deprecated/utils/SphericalHarmnoics.py
Deprecated/utils/__init__.py
Deprecated/utils/data_prep_util.py
Deprecated/utils/fahresPointSampling.py
Deprecated/utils/gcn_utils.py
Deprecated/utils/pfh_utils.py
Deprecated/utils/provider_utils.py
Deprecated/utils/standfordIndoor3d.py
Deprecated/utils/surfaceNormalEstimation.py
Deprecated/utils/torch_gcn_block.py
Deprecated/utils/totest.py
Deprecated/utils/util.py
!/demo/test.ipynb
*.sif
*.img
